*{
    margin: 0;
    padding: 0;
    font-family: 'Ubuntu', sans-serif;
}

html{
    scroll-behavior: smooth;
}

/* Navigation Section */

.navigation{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    /* text-align: center; */
    background-color: #6f7279;
    height: 7vh;
    line-height: 7vh;
}

.navigation ul {
    display: flex;
    flex-direction: row;
    list-style-type: none;
}

.navigation ul li {
    margin: 10px;
}

.nav-links a {
    text-decoration: none;
    font-weight: 700;
    color: white;
}

.name {
    text-align: left;
    color: white;
}

/* End of Navigation Section */

.backgroundImage{
    background: url("https://images.unsplash.com/32/Mc8kW4x9Q3aRR3RkP5Im_IMG_4417.jpg?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1500&q=80");
    height: 13vh;
}

.backgroundImage h2 {
    color: white;
    text-align: right;
    /* margin-top: 8vh; */
}

/* Start of About me section */

.section {
    display: flex;
    flex-direction: row;
}

.left-side {
    background-color:rgb(36, 181, 238);
    flex-grow: 1;
    padding: 20px 20px 0 20px;
}

.left-side h2 {
    color: white;
}

.right-side {
    background-color: rgb(177, 181, 187);
    flex-grow: 4;
    flex-wrap: wrap;
    max-width: 75%;
    min-width: 75%;
    padding: 20px;
    background-color:#6f7279;
}

.right-side h3 {
    margin-bottom: 15px 0 15px 0;
}

.right-side p {
    margin: 15px 0 15px 0;
}

/* contact section */

#contact .right-side {
    display: flex;
    /* justify-content: spa; */
}

.portfolio-images {
    display: flex;
    list-style: none;
    align-items: center;
}

.portfolio-images h3 {
    text-align: center;
}

.portfolio-img {
    width: 200px;
}

/* footer */
footer {
    background-color: #383d47;
    height: 7vh;
}

.right-side.contact ul{
    line-height: 7vh;
    display: flex;
    flex-direction: row;
    list-style: none;
    text-align: center;
}

.right-side.contact li {
    margin: 10px;

}

footer p {
    /* display: inline; */
    color: white;
    text-align: center;
}